.board {
  width: 303px;
  height: 303px;
  .square {
    width: 100px;
    height: 100px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    float: left;
    &:nth-child(7), &:nth-child(8), &:nth-child(9) {
      border-bottom: none;
    }
    &:nth-child(3), &:nth-child(6), &:nth-child(9) {
      border-right: none;
    }
  }
}
.mark {
  font-size: 100px;
  position: relative;
  top: -10px;
  &#X {
    margin: 0px 20px;
    color: red;
  }
  &#O {
    margin: 0px 12px;
    color: blue;
  }
}
